*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom:solid black 0.2px;
}
.header-container{
    height: 16vh;
    display: flex;
    align-items: center;
}
.header-container-box-logo{
    width: 50%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container-box-logo-img{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container-box-logo-img img{
    width: 3.7rem;
    height: 3.7rem;
}
.header-container-box-logo-address{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-container-box-logo-address img{
    width: 1.4rem;
    height: 2.3rem;
    margin-right: 0.7rem;
}
.header-container-box-button{
    width: 43%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button-signin, .button-signup{
    width: 8.2rem;
    height: 3.1rem;
    font-size: 1.2rem;
    border:none;
    cursor: pointer;
}
.button-signin{
    margin-right: 0.8rem;
    background: none;
    color: #7FB38D;
}
.button-signup{
    color: #ffffff;
    background-color: #7FB38D;
}